[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/liveuser/Desktop/offline.desktop]
row=0
col=1

[/home/liveuser/Desktop/online.desktop]
row=1
col=1

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/liveuser]
row=3
col=0

