[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/liveuser/Desktop/offline.desktop]
row=0
col=1

[/home/liveuser/Desktop/online.desktop]
row=1
col=1

[69b3ff84-cfcc-4364-a2ae-feed7142335c]
row=4
col=0

[a4ee64ec-a982-43c2-8b8f-0d2eba5f3fb9]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/liveuser]
row=3
col=0

