[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/liveuser/Desktop/offline.desktop]
row=0
col=1

[/home/liveuser/Desktop/online.desktop]
row=1
col=1

[ff37e7f0-f53b-44aa-ad0d-9832ab0af405]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/liveuser]
row=3
col=0

