[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Kalu
Comment=Archlinux update Messages
Exec=/usr/bin/kalu
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

